# Node (React)
frontend/node_modules/
frontend/build/
frontend/.next/
frontend/dist/
frontend/.env

# Python (FastAPI)
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/f5_tts/__pycache__
backend/latentsync/__pycache__/
backend/latentsync/checkpoints/
backend/temp/
backend/assets/
backend/latentsyn-venv/
backend/jobs/


# Database
*.sqlite3

# Logs
*.log

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
